body {
  margin: 0;
  padding: 0;
}

#container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../img/back-red.png");
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

#draggable {
  z-index: 10;
  width: 150px;
  height: 150px;
  background-image: url("../img/popcorn.png");
  position: absolute;
  top: 20%;
  left: calc(50% - 75px);
  transform: rotate(210deg);
  /*transform: translate(-50%, -50%);*/
  cursor: move;
}

.tuto {
 position: absolute;
 width: 100%;
  height: 100%;
  
}


@media only screen and (min-width: 768px) {
  /* styles pour les écrans plus larges que 768 pixels */
  #draggable {
    width: 100px;
    height: 100px;
  }
}


  